.PnLCalendarContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.react-calendar-heatmap .color-empty {
  fill: #9a9b975b;
}
.react-calendar-heatmap .color-high-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-high-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-high-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-high-4 {
  fill: #1e6823;
}

.react-calendar-heatmap .color-low-1 {
  fill: #ff7b7b;
}
.react-calendar-heatmap .color-low-2 {
  fill: #ff5252;
}
.react-calendar-heatmap .color-low-3 {
  fill: #ff0000;
}
.react-calendar-heatmap .color-low-4 {
  fill: #a70000;
}

.flex-s-bt {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.PnLColorRangeContainer {
  margin-top: -60px;
}
.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}
.colorBoxContainer {
  list-style: none;
}
.colorBox {
  height: 18px;
  width: 18px;
}

@media screen and (max-width: 660px) {
  .flex-s-bt {
    flex-wrap: wrap;
    gap: 20px;
  }
  .PnLColorRangeContainer {
    margin-top: -20px;
  }
  .colorBox {
    height: 10px;
    width: 10px;
  }
}
